* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.carousel {
  padding: 5rem;
  background-color: #2d2d2d;
  color: #e2e2e2;
  height: 100vh;
  width: 100vw;
}

.box {
  background-color: paleturquoise;
  height: 300px;
}

.box h3 {
  text-align: center;
  color: #2d2d2d;
}

.slick-slide div {
  margin: 0 1rem;
  border-radius: 10px;
}

.slick-dots li.slick-active button:before {
  color: paleturquoise !important;
}

.slick-dots li button:before {
  color: #fff !important;
  font-size: 1rem !important;
  top: 2rem !important;
}